
        <div class="col-md-3 liste-admin">
            <h3>Liste admin : </h3>
            <ul class="list-group">
                <li class="list-group-item">admin1</li>
                <li class="list-group-item">admin2</li>
                <li class="list-group-item">admin3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="container formulaire-admin">
                <h3>Ajout d'un nouveau admin : </h3>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">nom</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="nom" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">prenom</label>
                    <div class="col-10">
                        <input class="form-control" type="search" value="prenom" id="example-search-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" value="aaaa@example.com" id="example-email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-url-input" class="col-2 col-form-label">mot de passe</label>
                    <div class="col-10">
                        <input class="form-control" type="password" value="" id="example-url-input">
                        <input type="butten" value="ajouter">
                    </div>
                </div>
            </div>
        </div>

