Nom: <input type="text" placeholder="nom"> <br>

Prenom: <input type="text" placeholder="prenom"> <br>

Adresse: <input type="text" placeholder="adresse"><br>

Email: <input type="email" placeholder="email"><br>

Mot de passe: <input type="password" placeholder="saisir votre mot de passe"><br>

Confirmer le mot de passe: <input type="password" placeholder="confirmer votre  mot de passe"><br>

Tél :<input type="number" placeholder="tel"><br>

CIN :<input type="number" placeholder="CIN"><br>

Poste :<input type="text" placeholder="poste"><br>

Entreprise :<input type="text" placeholder="entreprise"><br>

<input type="button" value="inscritption"><br>



