

Nom       <input type="text" value="" ><br><br><br>

Dimension <input type="number" placeholder="hauteur"><br>
          <input type="number" placeholder="largeur"><br><br><br>

Resolution <input type="number" placeholder="hauteur"><br>
           <input type="number" placeholder="largeur"><br><br><br>

Adresse   <input type="text" placeholder="adresse physique"><br>
          <input type="text" placeholder="GPS"><br><br><br>

iteration <input type="text" value=""><br><br>
<input type="button" value="ajout">
